.row{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    width: 400px;
}
.strikethrough{
    text-decoration: line-through;
}
